* {
  border-width: thin;
}

.redMarker {
  border-radius:50%;
  background-color: red;
}

.invisibleCell {
  visibility: hidden;
}

.emptyCell {
  border-radius:50%;
}

.greenMarker {
  border-radius:50%;
  background-color:green;
}

.yellowMarker {
  border-radius:50%;
  background-color:yellow;
}

.blueMarker {
  border-radius:50%;
  background-color:blue;
}

.orangeMarker {
  border-radius:50%;
  background-color: orange;
}

.purpleMarker {
  border-radius:50%;
  background-color:  purple;
}

.topButtons {
  border-radius: 5px;
  background-color:sienna;
  cursor:pointer;
  color: blanchedalmond;
  margin-right: 3px;
}

.title {
  font-size:36px;
  cursor:pointer;
  font-family: sans-serif;
}