* {
  border-width: thin;
}

.redMarker {
  border-radius:50%;
  background-color: red;
  border-color:red;
}

.invisibleCell {
  visibility: hidden;
}

.emptyCell {
  border-radius:50%;
}

.greenMarker {
  border-radius:50%;
  background-color:green;
  border-color:green;
}

.yellowMarker {
  border-radius:50%;
  background-color:yellow;
  border-color: yellow;
}

.blueMarker {
  border-radius:50%;
  background-color:blue;
  border-color: blue;
}

.orangeMarker {
  border-radius:50%;
  background-color: orange;
  border-color: orange;
}

.purpleMarker {
  border-radius:50%;
  background-color:  purple;
  border-color: purple;
}